doctype html
html
	head
		title Custom Receiver
		link(rel='stylesheet', href='/stylesheets/bootstrap.css')
		link(rel='stylesheet', href='/stylesheets/style.css')

		script(type='text/javascript', src='http://www.gstatic.com/cast/sdk/libs/mediaplayer/0.3.0/media_player.js')
		script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
	body
		#receiver
			h1 Custom Receiver
			hr
			h2#message Talk to me

		script(type='text/javascript', src='http://www.gstatic.com/cast/sdk/libs/receiver/2.0.0/cast_receiver.js')
		script(type='text/javascript', src='javascripts/receiver.js')