extends ../layout

block content
	#message Talk to me

	script(type='text/javascript', src='http://www.gstatic.com/cast/sdk/libs/receiver/2.0.0/cast_receiver.js')
	script(type='text/javascript', src='javascripts/receiver.js')