*
	box-sizing: border-box
body
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
	color: #00B7FF
	
#container
	margin 1em
	overflow auto
	
#header
	border-bottom 1px solid #ccc

#nav
	width 20%
	float left
	padding-top 1em
	
	ul
		list-style-type: none 
		margin 0
	li
		padding 1em
		border-bottom 1px solid #ccc
	a
		display block
		text-decoration: none
		font-size: 150%
		
		&:hover
			color: #55C8FF
			
#body
	width 80%
	float left
	padding 1em
	
