* {
  box-sizing: border-box;
}
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
#container {
  margin: 1em;
  overflow: auto;
}
#header {
  border-bottom: 1px solid #ccc;
}
#nav {
  width: 20%;
  float: left;
  padding-top: 1em;
}
#nav ul {
  list-style-type: none;
  margin: 0;
}
#nav li {
  padding: 1em;
  border-bottom: 1px solid #ccc;
}
#nav a {
  display: block;
  text-decoration: none;
  font-size: 150%;
}
#nav a:hover {
  color: #55c8ff;
}
#body {
  width: 80%;
  float: left;
  padding: 1em;
}
